.kiwisaver {
	margin: 20px 10px;
}

.select-kiwisaver {
	min-width: 100px;
	margin-right: 10px;
}

.txt-custom-kiwisaver {
	max-width: 100px;
}

.data-grid {
	max-width: 700px;

  .MuiDataGrid-row {
    color: red;

    &[data-id="0"] {
      color: limegreen;
    }

    &[data-id="4"] {
      font-weight: bold;
      color: blue;
    }
  }
}

.accordion-explanation {
	max-width: 700px;
	margin-top: 10px;

	.explanation-details {
    flex-direction: column;
	}
}